.container {
  width: 100vw;
  position: fixed;
  left: 0;
  bottom: 0;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  gap: 15px;
  background-color: #f8f4f9;
}

.main {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 75px;
}
.copyright {
  align-self: flex-start;
  font-size: 10px;
  margin-top: 10px;
}
@media only screen and (max-width: 970px) {
  .container {
    position: inherit;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 20px;
  }

  .content {
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 20px;
    gap: 25px;
  }

  .copyright {
    align-self: flex-start;
    font-size: 10px;
  }
}
