@import "../../../app/scss/variables";

.container {
  display: flex;

  margin: auto;
  justify-content: center;
  align-items: center;
  padding: 6rem;

  background-color: $color-primary;
  font-family: Noto Sans, sans-serif;
}

@media only screen and (max-width: 975px) {
  .container {
    flex-direction: column;
    padding: 3rem 1rem;
  }
}
