.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 600px;
  width: 450px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
}

.heading {
  margin-left: 10px;
  h2 {
    text-transform: uppercase;
    text-align: left;
    font-size: 20px;
    margin: 10px;
    width: 75%;
    line-height: 40px;
  }

  p {
    margin: 10px;
    text-align: left;
    width: 90%;
    line-height: 25px;
  }
}

@media only screen and (max-width: 768px) {
  .main {
    width: 100%;
  }
}
