@import "../../../app/scss/variables";
.listItem {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 20px;
}

.svgContainer {
  flex: 0 0 auto;
  margin-right: 10px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 10px;

  h2 {
    color: $secondary-color;
    text-transform: uppercase;
  }

  h3 {
    text-transform: uppercase;
  }
}

.listItem:nth-child(odd) {
  flex-direction: row-reverse;
}

@media screen and (max-width: 450px) {
  .listItem {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .listItem:nth-child(odd) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .description {
    display: flex;

    text-align: center;
  }
  .svgContainer {
    order: -1;
    margin-right: 0;
  }
}
